<form (ngSubmit)="onSubmit()">
    <p>If you consent to the usage of your responses as outlined in the <a class="underline text-blue-600"
            href="/assets/ESG-Conscious-Portfolio-Survey-Consent-Form.pdf" target="_blank">consent form</a>, please
        click the Submit button</p>
    <p>Otherwise, you may close your browser without submitting and your responses will not be tracked.</p>
    <button id="submit" class="my-3 border-2 border-slate-700 rounded p-3 disabled:opacity-50"
        type="submit">Submit</button>
</form>