<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label for="q6">Which of the UN Sustainable Development Goals below do you want to advance with your investments?
        (If you select several answers, please provide a ranking, 1 being the most important)<span class="text-xs text-gray-600">(optional)</span></label>
    <div class="mb-4">
        <app-rank name="q6" id="q6" [options]="q6Options" [form]="q6Form"></app-rank>
    </div>
    <!-- FIXME Which of the following economic activities do you refuse to invest in, if any?-->
    <label for="q7">Do you refuse to be financially exposed to the following economic activities? (If you select
        several answers, please provide a ranking, 1 being the most important exclusion)<span class="text-xs text-gray-600">(optional)</span></label>
    <div class="mb-4">
        <app-rank name="q7" id="q7" [options]="q7Options" [form]="q7Form"></app-rank>
    </div>
    <!-- FIXME Which of the following economic activities do you refuse to invest in, if any?-->
    <label for="q8">Do you refuse to be financially exposed to economic activities based in countries with following
        controversies? (If you select several answers, please provide a ranking, 1 being the most important
        exclusion)<span class="text-xs text-gray-600">(optional)</span></label>
    <div class="mb-4">
        <app-rank name="q8" id="q8" [options]="q8Options" [form]="q8Form"></app-rank>
    </div>
    <label for="q9">Are there any additional values and priorities you would like to express?<span class="text-xs text-gray-600">(optional)</span></label>
    <textarea class="w-full border-2 border-slate-700 rounded p-1" id="q9" name="q9"
        formControlName="q9"></textarea><br>
    <div>
        <button class="my-4 border-2 border-slate-700 rounded p-3 disabled:opacity-50" [disabled]="!formGroup.valid"
            type="submit">Submit</button>
    </div>
</form>